[submodule "portfolio/public"]
	path = portfolio/public
	url = ssh://git@github.com:frarinha/frarinha.github.io.git
	branch = main
[submodule "public"]
	url = ssh://git@github.com:frarinha/frarinha.github.io.git
